.mainContainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.welcomeContainer {
  background-repeat: no-repeat;
  background-position: center;
}

<<<<<<< HEAD
.card-title {
  font-size: 2em;
}

.card-container {
  perspective: 700px;
  display: grid;
}

.card-flip,
.card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
  grid-area: frontAndBack;
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.front {
  grid-area: frontAndBack;
=======
.card-flip:active {
  perspective: 1000px;
  /* transform: rotateY(180deg); */
  animation: flip 1s infinite;
  animation-timing-function: linear;
}

@keyframes flip {
  from {
    tranform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
>>>>>>> origin/master
}
