/* .preview-container{
   position: relative;
   width: 150px ;
   margin:15px;

} */
.preview-container img
{
    height: 130px;
    width: 130px;
    border-radius: 25px;
    object-fit: cover;
}
.preview-container .videoPreview
{
    border-radius: 25px; 
    overflow: hidden; 
    height :130px;
    width: 130px;
}

.preview-container .btn {
    position: absolute;
    top: 6%;
    right:9%;
    color: #585858;
    width:36px;
    height:36px;
    border-radius: 18px;
    background-color: #eeeeee;
}

.preview-container .btn:hover{
color:white;
background-color: red;
}
.feed-text-vert-center{
    vertical-align: middle
}

.fileUploader-btn{
    height: 100px;
    width:100px;
    border-radius: 15%;
    border: 1px solid #dddddd;
    background-color: white;
}

.fileUploader-btn:hover {
    background-color: #faf9f9;
}

.multiFileUploader-btn{
    height: 100px;
    width:100px;
    border-radius: 15%;
    border: 1px solid #dddddd;
    background-color: white;
}

.multiFileUploader-btn:hover {
    background-color: #faf9f9;
}

.color-gray{
    color: #585858;
}

.cus-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cus-card-header:first-child {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}

.cus-user-detail{
    padding-left: 12px;
}

.cus-card-container{
    max-width: 650px;
    /* width: 100% */
}

.cus-page-header-container{
    padding-bottom: 20px;
    padding-left: 5px;
}

.cus-btn-right-padding{
    padding-right:  5px;
}

.ash{
    background-color: white;
    border-color: white;
    color: grey;
}

.ash:hover{
    border-color: white;
    background-color: white;
    color: black;
}

.ash:active{
    border-color: white!important;
    background-color: white!important;
    color: black!important;
}

.card{
    border: none;
}

.rs-bg-primary{
    background-color:#388e3c;
}

.color-athlete{
    color: #1976d2;
}

.color-coach{
    color: #512da8;
}