.appNav .search-bar {
  max-width: 80%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.appNav .searchInput {
  width: 100%;
}

.hamburger-icon-animate:hover {
  transform: rotate(90deg);
  transition: 1s;
}

/* .search-input-flash:focus {
  animation-name: flash;
  animation-duration: .2s;
  animation-iteration-count: 1;
}

@keyframes flash {
  0% {
    transform: scale(1);
    background-color: #f5f5f5;

  }
  50% {
    transform: scale(2);
    background-color: green;
  }
  100% {
    transform: scale(1);
    background-color: #f5f5f5;

  }
} */
